

.login-page-wrapper {
    background-color: blue;
    width: 100%;
    height: 100%;
}

.my-facebook-button-class {
    width: 100%;
    /* color: yellow; */
}



/*

snsType : 0 :fb, 1: gg, 2: kk
accessToken
id
name
imageUrl

options~
    email


*/