.menu-item {
  padding: 0 40px;
  margin: 15px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
  width: 220px;
  background-color: red;
  height: 180px;

}
/* .menu-item-wrapper.active {
  border: 1px blue solid;
  background-color: red;
} */
.menu-item.active {
  border: 1px green solid;
  /* background-color: red; */
}

.scroll-menu-arrow {
  padding: 10px;
  cursor: pointer;
}