body {
    font-family: Roboto, sans-serif;
}

.app-navi-wrap{
    
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 90, 177);
    
}

.app-navi-desc {
    color: white;
    padding: 1rem;
}
.app-navi {
    width: auto;
    background-color: rgb(211, 88, 205);
    padding: 0rem;
    margin: 0.1rem;
    /* height:10px; */
}


.app-main-header {
    position: sticky;
    top: 0;
}